body {
	color: #333F48;
}

.blue-brand-1 {
	color: #009CDE;
}

.blue-brand-2 {
	color: #002554;
}

.blue-brand-3 {
	color: #C2D1D9;
}

.gray-brand-1 {
	background-color: #F3F6F8;
}

.blue-bg-brand-1 {
	background-color: #002554;
}

.bg-blue-3 {
	background-color: #F2F6F7;
}

.yellow-brand-1 {
	background-color: #FF9400;
}

a.yellow-brand-1:hover {
	background-color: #FFF;
}

.font-roboto {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.font-lato {
	font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.border-yellow-brand-1 {
	border-color: #FF9400;
}

.border-blue-brand-1 {
	border-color: #002554;
}

.main-nav:hover {
	background-color: #FF9400;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
	transition-duration: .5s;
}

.main-nav svg,
.item svg {
	fill: #FF9400;
}

.main-nav:hover svg {
	fill: #fff;
}

.main-nav-blue {
	color: #FF9400;
}

.main-nav-blue:hover {
	background-color: #FF9400;
	color: #002554;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
	transition-duration: .5s;
}

.main-nav-blue svg,
.item svg {
	fill: #FF9400;
}

.main-nav-blue:hover svg {
	fill: #fff;
}

.item {
	--top-border-width: 1px;
	--left-border-width: var(--top-border-width);
	--bottom-border-width: 3px;
	--right-border-width: var(--top-border-width);
	border-top: var(--top-border-width) solid #e4e4e4;
	border-left: var(--top-border-width) solid #e4e4e4;
	border-right: var(--right-border-width) solid #e4e4e4;
	border-bottom: var(--bottom-border-width) solid #002554;
	;
	position: relative;
}

.item::before {
	display: block;
	position: absolute;
	top: calc(0px - var(--top-border-width));
	bottom: calc(0px - var(--bottom-border-width));
	left: calc(0px - var(--left-border-width));
}

.custom-fill-1 svg {
	fill: #FF9400;
}

.custom-fill-1:hover svg {
	fill: #FFFFFF;
}

.custom-fill-2 svg {
	fill: #FF9400;
}

.custom-fill-2:hover svg {
	fill: #002554;
}

.hero-1 {
	background-image: url(../Images/bg-1-hero-home.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left top;
}

.item:hover {
	border-color: #FF9400;
	transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
	transition-duration: .5s;
}

.bg-gradient-1 {
	background: rgb(244, 244, 244);
	background: linear-gradient(0deg, rgba(244, 244, 244, 1) 0%, rgba(244, 244, 244, 0) 36%, rgba(210, 221, 230, 0.2763480392156863) 36%, rgba(210, 221, 230, 0.2819502801120448) 100%);
}

.section-1 {
	background-image: url(../Images/bg-home-1.svg);
}

.big-chamber {
	background-image: url(../Images/big-home-chamber.png);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	height: 1410px;
}

.gradient-1 {
	background-image: url(../Images/gradient-1.svg);
	background-repeat: no-repeat;
	background-position: right top;
}

.gradient-2 {
	background-image: url(../Images/gradient-2.svg);
	background-repeat: no-repeat;
	background-position: left top;
}

.section-2 {
	background-image: url(../Images/bg-home-2.svg);
	background-repeat: no-repeat;
	background-position: left top;
}

.section-3 {
	background-image: url(../Images/bg-home-3.svg);
	background-position: left top;
	background-repeat: no-repeat;
	min-height: 447px;
}

.section-4 {
	background-image: url(../Images/bg-home-4.svg);
	background-position: left top;
	background-repeat: no-repeat;
	min-height: 700px;
}

.section-5 {
	background-image: url(../Images/bg-home-5.svg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
}

.section-8 {
	background-image: url(../Images/bg-home-8.svg);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 279px;
}

.section-1-chambers {
	background-image: url(../images/bg-chambers-1.svg);
	background-position: center bottom;
	background-repeat: no-repeat;
	min-height: 279px;
}

.section-1-chambers {
	background-image: url(../images/bg-chambers-1.svg);
	background-repeat: no-repeat;
}

.section-usa {
	background-image: url(../images/bg-usa.svg);
	background-position: center bottom;
	background-repeat: no-repeat;
}

table tr td:first-child {
	border-left: transparent;
}

table tr td:last-child {
	border-right: transparent;
}

table tr:nth-child(even) {
	background-color: #F4F7F8;
}

table tbody tr:hover {
	background-color: #EEF8FC;
	cursor: pointer;
}

@media (max-width: 640px) {
	table th:first-child,
	table td:first-child {
		height: 12rem;
	}
	table th:nth-child(2),
	table td:nth-child(2),
	table th:nth-child(5),
	table td:nth-child(5),
	table th:nth-child(7),
	table td:nth-child(7) {
		height: 5rem;
	}
	table tr td:first-child {
		border-left: 1px solid #e5e7eb;
		;
	}
	table tr td:last-child {
		border-right: 1px solid #e5e7eb;
		;
	}
	table tr {
		border-bottom: 4px solid #009CDE;
	}
}

@media (min-width: 640px) {
	table {
		display: inline-table !important;
	}
	thead tr:not(:first-child) {
		display: none;
	}
}

@media (max-width: 768px) {
	.gradient-1,
	.gradient-2 {
		background-image: none;
		background-color: #FFF;
	}
	.big-chamber {
		background-image: none;
		height: auto;
	}
	.section-2 {
		background-position: top;
	}
	.section-3 {
		min-height: 200px;
	}
}